<div class="addGame__header">
  Add Games
</div>
<div class="addGame__selectors">
  <select class="addGame__selector--left">
    <option value="" disabled selected>Look for player</option>
    <option value="Andrea Di Simone">Andrea Di Simone</option>
    <option value="Vasilis Loumanis">Vasilis Loumanis</option>
    <option value="Simone Verdi">Simone Verdi</option>
    <option value="Marco Rossi">Marco Rossi</option>
  </select>
  <span> VS </span>
  <select class="addGame__selector--right">
    <option value="" disabled selected>Look for player</option>
    <option value="Andrea Di Simone">Andrea Di Simone</option>
    <option value="Vasilis Loumanis">Vasilis Loumanis</option>
    <option value="Simone Verdi">Simone Verdi</option>
    <option value="Marco Rossi">Marco Rossi</option>
  </select>
</div>
<button class="addGame__addButton">Add game</button>
