$base-font-size: 16px;
$golden-ratio: 1.618;

@function pow($no, $exp) {
  $noAtPow: 1;

  @if $exp > 0 {
    @for $i from 1 through $exp {
      $noAtPow: $noAtPow * $no;
    }
  } @else if $exp < 0 {
    @for $i from 1 through ($exp * (-1)) {
      $noAtPow: $noAtPow / $no;
    }
  }

  @return $noAtPow;
}

@mixin font($index) {
  @if $index > 6 {
    $index: 6;
  }
  @if $index < -2 {
    $index: -2;
  }
  $font-size: floor($base-font-size * pow($golden-ratio, $index));
  font-size: $font-size;
  line-height: ceil($font-size / 8) * 8;
}
